<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :conact %><br />
    <%= f.text_field :contact %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :industry %><br />
    <%= f.text_field :industry %>
  </div>

  <div class="field">
    <%= f.label :subindustry %><br />
    <%= f.text_field :subindustry %>
  </div>

  <div class="field">
    <%= f.label :ranking %><br />
    <%= f.text_field :ranking %>
  </div>

  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_field :comments %>
  </div>

  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :minimum_order %><br/>
    <%= f.text_field :minimum_order %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
